@viedome:registry=https://nexus.tkhtechnology.com/repository/MX_002_VIEPRO_npm/
//nexus.tkhtechnology.com/repository/MX_002_VIEPRO_npm/:email=${NPM_USER}
//nexus.tkhtechnology.com/repository/MX_002_VIEPRO_npm/:always-auth=true
//nexus.tkhtechnology.com/repository/MX_002_VIEPRO_npm/:_auth=${NPM_TOKEN}
